<h1>Question ID: <%= @question.id %></h1>

<dl>
  <dd>Body:</dd>
  <dt>
  <%= raw @question.body %>
  </dt>
</dl>

<dl>
  <dd>Answer:</dd>
  <dt>
    <%= @question.answer %>
  </dt>
</dl>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
